 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

body {
    font-family: open-sans, oswald;
    font-weight: 300;
    color: #3a3a3a; 
}

/* headings and logo */

h1, h2 {
  font-family: 'Playfair-Display' open-sans;
  letter-spacing: 2px;
  color: #C0E0F7; 
}

#logo{
  float: left;
  font-size: 280%;
}