 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Open-sans', oswald;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

header {
  background-color: #304557;
  width: 100%;
  padding: 0;
  top: 0;
  left: 0;
  float: left;
  position: fixed;
}


h1 {
  font-family: 'Playfair Display' open-sans;
  font-weight: bold;
  letter-spacing: 2px;
  color: #FFCC57;
}




#logo{
  float: left;
  margin-left: 18px;
  font-size: 280%;
  letter-spacing: 4px;
  line-height: 100px;
  font-weight: lighter;
}

#text-right{
  float: right;
  line-height: 100px;
}


#text-right li{
  display: inline-block;
  list-style-type: none;
  margin-right: 30px;
  
}


#text-right a{
  text-decoration: none;
  text-transform: uppercase;
  color:#FFCC57;
  width: 100px;
  font-weight: bold;
}

#text-right a:hover{
  color: #c0e0f7;
}

/* hero image */

#hero-image{
  height: 100vh;
  background: url(/assets/images/hero-image.jpg) no-repeat center;
  background-size: cover;
  background-position: center;
  
}

.about-content{
max-width: 800px;
margin: 0 auto;
text-align: center;
}